@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600&display=swap");
// @import "./loader.scss";
@import "./color.scss";
@import "./header.scss";
@import "./cursor.scss";
@import "./mainSection.scss";
@import "./skillSection.scss";
@import "./projectSection.scss";
@import "./contactSection.scss";
@import "./media_que.scss";
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  overflow-x: hidden;
  scroll-behavior: smooth;
  :default {
    zoom: 90%;
  }
  @include tablet {
    overflow-x: hidden;
  }
  // user-select: none;
}

html {
  // scrollbar-color: $color-pri $color-text;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  // border-radius: 100%;
  background-color: $color-head;
  // border: 2px solid rgba(140, 200, 211, 0.589);
  box-shadow: 20px 20px 10px rgb(87, 79, 79);
}
::-webkit-scrollbar-thumb {
  // box-shadow: inset 0 0 6px rgba(138, 185, 224, 0.3);
  background-color: $color-text;
  border-radius: 100px;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%23a0b5e0'%3E%3C/rect%3E%3Cpath d='M900 540L890.8 527.2C881.7 514.3 863.3 488.7 862.5 463C861.7 437.3 878.3 411.7 879.3 386C880.3 360.3 865.7 334.7 866.8 308.8C868 283 885 257 889.5 231.2C894 205.3 886 179.7 880.5 154C875 128.3 872 102.7 875.7 77C879.3 51.3 889.7 25.7 894.8 12.8L900 0L960 0L960 12.8C960 25.7 960 51.3 960 77C960 102.7 960 128.3 960 154C960 179.7 960 205.3 960 231.2C960 257 960 283 960 308.8C960 334.7 960 360.3 960 386C960 411.7 960 437.3 960 463C960 488.7 960 514.3 960 527.2L960 540Z' fill='%23869cca' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;

  @include tablet {
    background-position: right 0% bottom 0%;
  }
}
