@import "./color.scss";

.project__section {
  top: 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $color-pri;

  .project_text {
    letter-spacing: 0.2rem;
    opacity: 0.5;
    font-family: "Big Shoulders Text", cursive;
    font-size: 4.2rem;
    font-weight: 800;
    position: relative;
    color: $color-big;
    left: -20%;
    // right: -20%;
    top: 10%;
    text-align: center;
    text-transform: uppercase;
  }
  .project_container {
    height: 80vh;
    top: 12%;
    // left: 8%;
    margin: 0 2rem;
    display: flex;
    // flex-direction: row;
    position: relative;
    // justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    padding: 1rem;
    .music_player {
      padding: 5rem;
      border: 2px solid black;
    }
  }
}
