@import "./color.scss";
@import "./media_que.scss";

.project__section {
  // overflow-x: hidden;

  top: 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $color-pri;

  .project_text {
    letter-spacing: 0.2rem;
    opacity: 0.3;
    font-family: "Big Shoulders Text", cursive;
    font-size: 4.2rem;
    font-weight: 800;
    position: relative;
    color: $color-big;
    text-transform: uppercase;
    left: 10%;
    top: 10%;
    @include tablet {
      top: 6%;
      font-size: 2.8rem;
    }
  }
  .project_container {
    // overflow-x: hidden;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%23869cca'%3E%3C/rect%3E%3Cg transform='translate(960 0)'%3E%3Cpath d='M322.4 -558.5C419.9 -502.2 502.2 -419.9 558.5 -322.4C614.7 -225 644.9 -112.5 644.9 0C644.9 112.5 614.7 225 558.5 322.4C502.2 419.9 419.9 502.2 322.4 558.5C225 614.7 112.5 644.9 0 644.9C-112.5 644.9 -225 614.7 -322.4 558.5C-419.9 502.2 -502.2 419.9 -558.5 322.4C-614.7 225 -644.9 112.5 -644.9 0C-644.9 -112.5 -614.7 -225 -558.5 -322.4C-502.2 -419.9 -419.9 -502.2 -322.4 -558.5C-225 -614.7 -112.5 -644.9 0 -644.9C112.5 -644.9 225 -614.7 322.4 -558.5' fill='%23a0b5e0'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    // z-index: 10000;
    height: 80vh;
    // background-color: $color-pri;
    height: fit-content;
    width: 100vw;
    top: 12%;
    // margin: 0 2rem;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 1rem;
    // z-index: 10000;

    @include tablet {
      background-position: left 51% bottom 45%;
      // right: 0;
      top: 8%;
    }
    .project_list {
      width: 100vw;
      margin: 0 2rem;
      box-sizing: border-box;
      .music_player {
        &_name {
          position: relative;
          text-transform: uppercase;
          color: $color-text;
          margin: 10px;
          left: 0;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 800;
          cursor: pointer;

          @include tablet {
            font-size: 1.7rem;
          }
          @include mobile {
            font-size: 1.3rem;
          }
          span {
            color: $color-text;
            opacity: 0.5;
            font-size: 2.6rem;
            @include tablet {
              font-size: 2rem;
            }
            @include mobile {
              font-size: 1.5rem;
            }
          }
        }
        & img {
          display: flex;
          margin: 1rem;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          width: 20%;
          position: relative;
          //   height: 40%;
          border: 2px solid rgba(0, 0, 0, 0.226);
          border-radius: 20px;
          @include mobile {
            width: 30%;
          }
        }
        .img1 {
          float: left;
          margin-top: 1rem;
          @include mobile {
            margin-left: 0;
          }
        }

        .img2 {
          transform: translate(-22%, 20%);
          float: right;
          @include tablet {
            transform: translate(-60%, 50%);
          }
          @include mobile {
            // transform: translate(-60%, 50%);
            transform: translate(-100%, 0%);
            float: right;
          }
        }
        p {
          position: relative;
          line-break: strict;
          width: 55%;
          font-size: 1.3rem;
          @include tablet {
            width: 60%;
            // line-break: normal;
            font-size: 1rem;
          }
          @include mobile {
            // position: absolute;
            line-break: loose;
            width: 70%;
          }
        }
        .para1 {
          transform: translate(2%, 20%);
          @include tablet {
            // right: 20%;
            transform: translate(2%, 10%);
          }
          @include mobile {
            // display: none;
            // font-size: 1rem;
            // // text-align: start;
            display: inline-block;
            left: 0;
            transform: translate(0%, 0%);
          }
        }
        .para2 {
          left: 23%;
          transform: translate(-8%, 50%);

          @include tablet {
            left: 10%;
            transform: translate(-14%, 25%);
            margin-left: 2rem;
          }

          @include mobile {
            display: none;
          }
        }
      }

      .razer {
        position: relative;
        width: 100vw;
        // height: 100vh;
        top: 100%;
        left: 0;
        // background-color: $color-pri;
        // margin-right: 25rem;
        margin-top: 7%;
        @include tablet {
          margin-top: 9%;
          // font-size: 1.7rem;
        }
        @include mobile {
          margin-top: 2%;
          // font-size: 1.7rem;
        }
        &_name {
          position: relative;
          top: 7%;
          left: 3%;
          text-transform: uppercase;
          color: $color-text;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 800;
          cursor: pointer;
          @include tablet {
            font-size: 1.7rem;
          }
          @include tablet {
            font-size: 1.3rem;
            left: -30%;
          }
          span {
            color: $color-text;
            opacity: 0.5;
            font-size: 2.6rem;
            @include tablet {
              font-size: 1.5rem;
            }
          }
        }
        & img {
          display: flex;
          margin: 1rem;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          width: 40%;
          height: 45%;
          position: relative;
          //   border: 2px solid rgba(0, 0, 0, 0.226);
          border-radius: 20px;
          @include mobile {
            width: 50%;
          }
        }
        .img1 {
          float: left;
          transform: translate(7%, 13%);
          @include tablet {
            transform: translate(-5%, 13%);
          }
          @include mobile {
            transform: translate(-20%, 20%);
          }
        }

        .img2 {
          transform: translate(30%, 60%);

          @include tablet {
            transform: translate(5%, 60%);
          }
          @include mobile {
            transform: translate(30%, 20%);
          }
        }

        p {
          position: absolute;
          line-break: strict;
          width: 45%;
          font-size: 1.3rem;
          @include tablet {
            font-size: 0.8rem;
          }
          @include tablet {
            display: inline-block;
            width: 70%;
            margin-top: 1rem;
          }
        }

        .para1 {
          transform: translate(10%, 70%);
          @include tablet {
            font-size: 1rem;
            transform: translate(0%, 5%);
          }
        }
      }
      .sphere {
        position: relative;
        // box-sizing: border-box;
        // margin-top: 15%;

        &_name {
          position: absolute;
          top: 24%;
          left: 3%;
          text-transform: uppercase;
          color: $color-text;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 800;
          text-align: start;
          cursor: pointer;
          @include mobile {
            font-size: 1.3rem;
            top: 30%;
          }
          span {
            color: $color-text;
            opacity: 0.5;
            font-size: 2.6rem;
            @include mobile {
              font-size: 1.3rem;
            }
          }
        }

        & img {
          display: block;
          // flex-direction: column;
          margin: 1rem;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          width: 23%;
          position: relative;
          border-radius: 20px;
          @include mobile {
            width: 30%;
          }
        }

        .img1 {
          transform: translate(-150%, 72%);
          @include tablet {
            transform: translate(8%, 85%);
          }
          @include mobile {
            transform: translate(-20%, 85%);
          }
        }

        .img2 {
          transform: translate(300%, -10%);
          @include tablet {
            transform: translate(245%, 25%);
            // transform: translate(120%, -220%);
          }
          @include mobile {
            transform: translate(135%, 0%);
          }
        }
        p {
          position: relative;
          line-break: strict;
          width: 30%;
          font-size: 1.3rem;
          float: left;
          transform: translate(115%, -295%);
          @include tablet {
            font-size: 1rem;
            transform: translate(105%, -220%);
          }
          @include mobile {
            // display: none;
            width: 70%;
            transform: translate(0%, 0%);
          }
        }
      }
    }
  }
}
