.header {
  position: fixed;
  z-index: 20;
  color: #1d222b;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .header {
      height: 3rem; } }
  @media screen and (max-width: 768px) {
    .header span {
      font-size: 1rem; } }
  .header__logo {
    padding: 0.5rem;
    margin-left: 1rem;
    display: block;
    width: 1.5rem; }
  .header .nav_items {
    position: relative;
    left: 60%;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .header .nav_items .nav_link {
        display: none; } }
    .header .nav_items .nav_menu {
      display: none; }
      @media screen and (max-width: 768px) {
        .header .nav_items .nav_menu {
          display: flex; } }
      @media screen and (max-width: 768px) {
        .header .nav_items .nav_menu span {
          margin-left: 2rem; } }
    .header .nav_items .nav_item {
      margin: 0 0.7rem;
      list-style: none; }
      .header .nav_items .nav_item a {
        font-size: 0.8rem;
        text-decoration: none;
        color: #1d222b; }
        .header .nav_items .nav_item a span {
          display: none; }
          @media screen and (max-width: 768px) {
            .header .nav_items .nav_item a span {
              display: flex;
              font-size: 1.5rem; } }
      .header .nav_items .nav_item:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease; }

.glass {
  background: rgba(134, 156, 202, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1.5px solid rgba(29, 34, 43, 0.3); }
