.skill__section {
  position: relative;
  /* background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%23869cca'%3E%3C/rect%3E%3Cpath d='M766 540L770.2 522C774.3 504 782.7 468 781.7 432C780.7 396 770.3 360 772.2 324C774 288 788 252 790.3 216C792.7 180 783.3 144 776.7 108C770 72 766 36 764 18L762 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z' fill='%23647291'%3E%3C/path%3E%3Cpath d='M859 540L861.7 522C864.3 504 869.7 468 873.5 432C877.3 396 879.7 360 877.7 324C875.7 288 869.3 252 863.2 216C857 180 851 144 850.8 108C850.7 72 856.3 36 859.2 18L862 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z' fill='%23647291'%3E%3C/path%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%23a0b5e0'%3E%3C/rect%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23a0b5e0' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23a0b5e0' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23869cca' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(960  0)'%3E%3Cpath d='M0 216C-37.6 210.2 -75.1 204.5 -108 187.1C-140.9 169.7 -169 140.6 -186.2 107.5C-203.4 74.4 -209.7 37.2 -216 0L0 0Z' fill='%2393a8d5'%3E%3C/path%3E%3Cpath d='M0 108C-18.8 105.1 -37.6 102.2 -54 93.5C-70.4 84.8 -84.5 70.3 -93.1 53.8C-101.7 37.2 -104.9 18.6 -108 0L0 0Z' fill='%23869cca'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(0  540)'%3E%3Cpath d='M0 -216C40.7 -212 81.4 -208.1 108 -187.1C134.6 -166.1 147.2 -128 162.8 -94C178.5 -60 197.2 -30 216 0L0 0Z' fill='%2393a8d5'%3E%3C/path%3E%3Cpath d='M0 -108C20.3 -106 40.7 -104 54 -93.5C67.3 -83 73.6 -64 81.4 -47C89.2 -30 98.6 -15 108 0L0 0Z' fill='%23869cca'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
  top: 100%;
  width: 100vw;
  height: 100vh;
  right: 3px; }
  @media screen and (max-width: 768px) {
    .skill__section {
      background-size: cover;
      background-position: right 0% bottom 45%;
      right: 0; } }
  @media screen and (max-width: 450px) {
    .skill__section {
      right: 0;
      height: 90vh; } }
  .skill__section .skill_container {
    display: flex;
    align-items: center;
    top: 8%;
    left: 7%;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column; }
    .skill__section .skill_container .skill_text {
      letter-spacing: 0.2rem;
      opacity: 0.5;
      font-family: "Big Shoulders Text", cursive;
      font-size: 4.2rem;
      font-weight: 800;
      position: relative;
      color: #59616e;
      right: -15%;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .skill__section .skill_container .skill_text {
          font-size: 2.8rem; } }
      @media screen and (max-width: 450px) {
        .skill__section .skill_container .skill_text {
          right: 0%; } }
    .skill__section .skill_container .skill_items {
      color: #1d222b;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: start;
      width: 100%;
      height: 20%; }
      .skill__section .skill_container .skill_items .skill {
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        width: 70%;
        height: 13%;
        margin: 1rem; }
        .skill__section .skill_container .skill_items .skill .skill_img {
          margin: 0 7px;
          width: 3rem;
          height: 3rem;
          filter: brightness(90%); }
          @media screen and (max-width: 768px) {
            .skill__section .skill_container .skill_items .skill .skill_img {
              width: 2rem;
              height: 2rem; } }
          @media screen and (max-width: 450px) {
            .skill__section .skill_container .skill_items .skill .skill_img {
              width: 2.5rem;
              height: 2.5rem; } }
      .skill__section .skill_container .skill_items .dev {
        letter-spacing: 0.1rem;
        opacity: 0.9;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 1rem 2rem; }
        @media screen and (max-width: 768px) {
          .skill__section .skill_container .skill_items .dev {
            font-size: 1.5rem;
            margin: 1rem 1.5rem; } }
        @media screen and (max-width: 450px) {
          .skill__section .skill_container .skill_items .dev {
            font-size: 1.2rem; } }
      .skill__section .skill_container .skill_items .lang {
        letter-spacing: 0.1rem;
        opacity: 0.9;
        font-size: 2.5rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 1rem 2rem; }
        @media screen and (max-width: 768px) {
          .skill__section .skill_container .skill_items .lang {
            font-size: 1.5rem;
            margin: 1rem 1.5rem; } }
        @media screen and (max-width: 450px) {
          .skill__section .skill_container .skill_items .lang {
            font-size: 1.2rem; } }
      .skill__section .skill_container .skill_items .dev_container {
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start; }
        @media screen and (max-width: 768px) {
          .skill__section .skill_container .skill_items .dev_container {
            width: 45%; } }
        .skill__section .skill_container .skill_items .dev_container .progress-line {
          position: relative;
          height: 12px;
          width: 100%;
          opacity: 0.8;
          background: #59616e;
          border-radius: 50px;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.05); }
          @media screen and (max-width: 768px) {
            .skill__section .skill_container .skill_items .dev_container .progress-line {
              height: 8px; } }
          .skill__section .skill_container .skill_items .dev_container .progress-line span {
            opacity: 1;
            border-radius: 50px;
            height: 100%;
            width: 80%;
            position: absolute;
            background-color: #1d222b; }
        .skill__section .skill_container .skill_items .dev_container .git {
          margin-bottom: 2rem; }
      .skill__section .skill_container .skill_items .tool_container {
        margin-top: 0.5rem; }
